@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  /* background-image: url(./images/01n.jpg) ; */
  background-repeat: no-repeat !important;
  background-size: 100% 100vh !important;
  
}

.weather-card{
  display: flex !important;
  justify-content: space-between !important;
}

.app-header{
  font-family: Poppins;
  margin:20px;
  font-size: 35px;
  color: #2196f3;
  font-weight: 600;
}

.weather-card-child{
  font-family: Poppins !important;
  margin-top: 0px;
}

.weather-card-main{
  width:400px !important;
  border-top: 2px solid red !important;
}


.icon-container{
  position: absolute;
  right: 10px;
  top: 0px;
}

.daily-forecast{
  font-family: Poppins;

}

.temp-desc{
  text-transform: capitalize;
  font-family: Poppins !important;
}


.forecast-header{
  font-family: Poppins !important;
}

.forecast-card{
  border-top: 2px solid #ffc107 !important;
}

.forecast-date{
  font-family: Poppins !important;
  font-size: 15px !important; 
  margin-bottom: 10px;
}